{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section>
        <div class="w-100 pt-80 black-layer pb-70 opc65 position-relative">
            <div class="fixed-bg" style="background-image: url({% static 'images/page-title-bg.' %}jpg);"></div>
            <div class="container">
                <div class="page-title-wrap text-center w-100">
                    <div class="page-title-inner d-inline-block">
                        <h1 class="mb-0">Contact Us</h1>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="index.html" title="Home">Maktab - Home</a></li>
                            <li class="breadcrumb-item active">Contact Us</li>
                        </ol>
                    </div>
                </div><!-- Page Title Wrap -->
            </div>
        </div>
    </section>
    <section>
        <div class="w-100 pt-90 thm-layer opc6 position-relative">
            <div class="fixed-bg patern-bg back-blend-multiply thm-bg" style="background-image: url({% static 'images/pattern-bg.jpg' %});"></div>
            <div class="container">
                <div class="cont-info-wrap res-row overlap-115 w-100">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-4">
                            <div class="cont-info-box-wrap w-100">
                                <div class="cont-info-box text-center position-relative w-100 pat-bg white-layer opc8 back-blend-multiply bg-white" style="background-image: url({% static 'images/pattern-bg.jpg' %});">
                                    <span class="bg-color1"><i class="flaticon-call"></i></span>
                                    <h4 class="mb-0">Phone Number</h4>
                                    <p class="mb-0">+234 222 123 4567</p>
                                    <p class="mb-0">+234 222 135 4567</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-4">
                            <div class="cont-info-box-wrap w-100">
                                <div class="cont-info-box text-center position-relative w-100 pat-bg white-layer opc8 back-blend-multiply bg-white" style="background-image: url({% static 'images/pattern-bg.jpg' %});">
                                    <span class="bg-color1"><i class="flaticon-mail"></i></span>
                                    <h4 class="mb-0">Email Address</h4>
                                    <p class="mb-0"><a href="javascript:void(0);" title="">oratech9525@gmail.com</a></p>
                                    <p class="mb-0"><a href="javascript:void(0);" title="">omotoso.rauf@plitsolutions.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-4">
                            <div class="cont-info-box-wrap w-100">
                                <div class="cont-info-box text-center position-relative w-100 pat-bg white-layer opc8 back-blend-multiply bg-white" style="background-image: url({% static 'images/pattern-bg.jpg' %});">
                                    <span class="bg-color1"><i class="fas fa-map-marker-alt"></i></span>
                                    <h4 class="mb-0">Office Location</h4>
                                    <p class="mb-0">Adejumo Street</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Contact Info Wrap -->
            </div>
        </div>
    </section>
    <section>
        <div class="w-100 pb-250 position-relative">
            <img class="sec-botm-rgt-mckp img-fluid position-absolute" src="{% static 'images/sec-botm-mckp.png' %}" alt="Sec Bottom Mockup">
            <div id="contact-map" class="contact-map w-100"></div>
            <div class="container">
                <div class="contact-wrap mt-100 w-100">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="cont-info-desc w-100">
                                <h3 class="mb-0">Don't be a stranger just say hello.</h3>
                                <p class="mb-0">We do fast phone repair. In most  to repair your device in just minutes, li we’ll normally get con nection inutes, we’ll normally ge.</p>
                                <h6 class="mb-0">Follow us on social media</h6>
                                <div class="social-links2 v2 text-center d-inline-flex">
                                    <a class="facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a class="twitter" href="https://twitter.com/" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a class="google" href="https://www.google.com/" title="Google Plus" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                    <a class="linkedin" href="https://www.linkedin.com/" title="Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <form class="cont-form w-100">
                                <input type="text" placeholder="Complete Name">
                                <input type="email" placeholder="Email Address">
                                <input type="tel" placeholder="Phone No">
                                <textarea placeholder="Message"></textarea>
                                <button class="thm-btn thm-bg" type="submit">SEND MESSAGE<span></span><span></span><span></span><span></span></button>
                            </form>
                        </div>
                    </div>
                </div><!-- Contact Wrap -->
            </div>
        </div>
    </section>
{% endblock  %}